ul.gdbbx-latest-activity {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;

    li {
        list-style: none;
        margin: 0;
        padding: 6px 0;
        border-bottom: 1px solid #ddd;

        &:last-of-type {
            border-bottom: 0;
        }

        .gdbbx-post-author {
            float: right;

            img {
                vertical-align: top;
                margin: 3px 3px 0 6px;
            }
        }

        .gdbbx-post-type {
            font-weight: bold;
        }
    }
}

.gdbbx-online-status {
    .gdbbx-online-user {
        img {
            vertical-align: top;
            margin: 2px 0 0 0;
        }
    }
}
