.d4p-page-features {
    .d4p-content-right {
        .d4p-group:first-child {
            background: #F6F6F6;
            border: 1px solid #555555;
        }

        .d4p-group:first-child h3 {
            background: #555555;
            color: #ffffff;
        }
    }

    .d4p-options-panel {
        .feature-scope {
            float: left;
            background-color: #666;
            color: #fff;
            font-size: .9em;
            display: block;
            padding: 0px 8px;
            border-radius: 4px;
            letter-spacing: 1px;
            line-height: 25px;
            margin: 3px 0 0 0;
        }

        .feature-status {
            display: none;
            margin-top: 4px;
            vertical-align: top;
            width: 24px;
            height: 24px;

            &:checked::before {
                margin: unset;
            }
        }
    }
}

.bbpc-feature-more-control,
.bbpc-features-bulk-control {
    text-align: center;
    margin: 15px 0 0;
    border-top: 1px dotted #cccccc;
    padding: 15px 0 0;

    button {
        width: 100%;
    }

    .bbpc-inner-ctrl-options {
        display: none;
        padding: 10px;
        margin-top: 10px;
        background: #fff;
        border-radius: 5px;

        .button-primary {
            width: 100%;
            display: block;
            margin: 5px 0 0;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.bbpc-content-editor-reply,
.bbpc-content-editor-topic {
    display: none;

    &.bbpc-select-type-show {
        display: table-row;
    }
}
