#{$forums} {
    .bbp-topic-content .bbpc-bbcode-heading,
    .bbp-reply-content .bbpc-bbcode-heading {
        margin: .5em 0;
    }

    .bbp-topic-content .bbpc-bbcode-heading:first-of-type,
    .bbp-reply-content .bbpc-bbcode-heading:first-of-type {
        margin-top: 0;
    }

    .syntaxhighlighter {
        .bbpc-bbcode-scode {
            padding: 1em 0;
            border: 1px solid #DDD;
        }
    }

    .bbpc-bbcode-spoiler {
        padding: 0 5px;
    }

    .bbpc-bbcode-hr {
        clear: none;
        margin: 1em 0;
    }

    table {
        &.bbpc-bbcode-nfo {
            border: 1px solid #222;

            td {
                &.bbpc-bbcode-el-title {
                    background: #222;
                    color: #FFF;
                    border: none;
                }

                &.bbpc-bbcode-el-content {
                    padding: 0;

                    pre {
                        color: #000;
                        background: #FFF;
                        font-size: 10px;
                        line-height: 10px;
                        font-family: monospace;
                        border: none;
                        margin: 0;
                    }
                }
            }
        }
    }

    .bbpc-bbcode-hide {
        margin: 6px 0 12px;
        border: 1px solid #CCC;

        &.bbpc-hide-hidden {
            .bbpc-hide-title {
                color: #C00;
            }
        }

        .bbpc-hide-title {
            padding: 4px 8px;
            font-weight: bold;
            background-color: #CCC;
        }

        .bbpc-hide-content {
            padding: 4px 8px;
            background-color: #FDFDFD;
        }
    }

    .bbpc-bbcode-attachment {
        > br {
            display: none;
        }
    }
}
