#{$forums} {
    .gdbbx-canned-replies {
        margin: 5px 0 15px;

        .gdbbx-canned-replies-show {
            font-weight: bold;
        }

        .gdbbx-canned-replies-hide {
            font-weight: bold;
            display: none;
        }

        .gdbbx-canned-replies-list,
        .gdbbx-canned-reply-content {
            display: none;
        }

        .gdbbx-canned-category {
            margin: 0;
            font-size: 18px;
        }

        .gdbbx-canned-replies-list {
            legend {
                .gdbbx-canned-replies-hide {
                    float: right;
                }
            }

            ul {
                margin: 8px 0;
                padding: 0 0 0 8px;

                &:last-of-type {
                    margin: 8px 0 0;
                }

                .gdbbx-canned-reply {
                    list-style: disc inside;
                }
            }
        }
    }
}
