$marks: (
        lock: 288,
        reply: 304,
        stick: 320,
        private: 336,
        arrow: 352,
        close: 368,
        book: 384
);

$files: (
        ai: 128,
        archive: 144,
        audio: 256,
        code: 32,
        documents: 240,
        excel: 64,
        generic: 16,
        html: 208,
        icon: 272,
        image: 96,
        pdf: 192,
        powerpoint: 176,
        psd: 112,
        text: 160,
        video: 224,
        word: 80,
        xml: 48
);
