#{$forums} {
    div,
    li {
        &.topic.gdbbx-private-topic,
        &.reply.gdbbx-private-reply {
            background-color: #FFF8F8;
        }

        &.topic.gdbbx-private-topic-locked,
        &.reply.gdbbx-private-reply-locked {
            background-color: #FEE;
        }

        &.topic.gdbbx-private-topic-locked .bbp-topic-content,
        &.reply.gdbbx-private-reply-locked .bbp-reply-content {
            font-weight: bold;
        }
    }

    .gdbbx-private-reply-hidden {
        display: none;
    }
}
