#{$forums} {
    .gdbbx-bbcode-quote {
        padding: 0 0 .5em 1em;

        p {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        .gdbbx-quote-title {
            font-weight: bold;
            padding-bottom: 2px;
            margin-bottom: 5px;
            border-bottom: 1px solid #DDD;
        }

        &.gdbbx-quote-is-private {
            p {
                font-weight: bold;
                color: #800;
            }
        }
    }
}
