#{$forums} {
    .#{$thanks} {
        border-top: 1px solid #DDD;
        margin-top: 10px;
        padding: 10px 0;
        overflow: auto;

        &:empty {
            display: none;
        }

        h6 {
            margin: 0 0 10px !important;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 1.4em;
        }

        .gdbbx-thanks-list {
            line-height: 16px;

            a {
                line-height: 16px;
                vertical-align: top;
            }

            .avatar {
                width: 16px;
                vertical-align: top;
                display: inline-block;
                float: none !important;
                margin: 0 2px 0 0 !important;
            }
        }
    }
}
