.bbpc-bbcode-profile_items,
#{$forums}.bbpc-user-stats {
    .bbpc-value {
        font-weight: bold;
    }

    .bbpc-label {
        &.bbpc-status-offline {
            color: #C00;
        }

        &.bbpc-status-online {
            color: #298500;
            font-weight: bold;
        }
    }
}
