.gdbbx-bbcode-profile_items,
#{$forums}.gdbbx-user-stats {
    .gdbbx-value {
        font-weight: bold;
    }

    .gdbbx-label {
        &.gdbbx-status-offline {
            color: #C00;
        }

        &.gdbbx-status-online {
            color: #298500;
            font-weight: bold;
        }
    }
}
