body.gd-quantum-theme {
    #{$forums} {
        .#{$signature-form} {
            textarea {
                margin: 0;
            }
        }

        i.gdbbx-icon-mark {
            vertical-align: bottom;
        }
    }

    .#{$toolbar} {
        border-radius: 0;
        border-width: 2px;

        .gdbbx-buttonbar-button {
            button {
                &.gdbbx-button {
                    i {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
