// Basic //
$prefix: gdbbx;

// Font //
$font-version: "660.1060";
$font-name: gdbbx;
$font-prefix: gdbbx;
$font-size: 14px;

// Components //
$attachments: gdbbx-attachments;
$thanks: gdbbx-thanks-wrapper;
$report: gdbbx-report-wrapper;
$toolbar: gdbbx-bbcodes-toolbar;
$signatures: gdbbx-signature;
$signature-form: gdbbx-signature-form;

// bbPress //
$form: bbp-form;
$forums: #bbpress-forums;
$profile: #bbp-your-profile;

// BuddyPress //
$buddypress: #buddypress;
