// Basic //
$prefix: bbpc;

// Font //
$font-version: "660.1060";
$font-name: bbpc;
$font-prefix: bbpc;
$font-size: 14px;

// Components //
$attachments: bbpc-attachments;
$thanks: bbpc-thanks-wrapper;
$report: bbpc-report-wrapper;
$toolbar: bbpc-bbcodes-toolbar;
$signatures: bbpc-signature;
$signature-form: bbpc-signature-form;

// bbPress //
$form: bbp-form;
$forums: #bbpress-forums;
$profile: #bbp-your-profile;

// BuddyPress //
$buddypress: #buddypress;
