@import 'abstracts/index';
@import 'admin/base/index';
@import 'admin/utilities/index';
@import 'admin/components/index';
@import 'admin/layout/index';
@import 'admin/admin-noticies';

@include xl {
  .container {
    max-width: 1170px;
  }
}

#wpcontent {
  height: 100vh;
}