.#{$attachments} {
    ol {
        li {
            &.gdbbx-attachment-thumb {
                &.gdbbx-thumb-inline {
                    float: right;
                    margin-left: 10px !important;
                }
            }
        }
    }
}

.#{$attachments}-edit {
    .gdbbx-attachment {
        select {
            float: left;
        }
    }
}

.#{$form} {
    .#{$attachments}-form {
        .#{$attachments}-input {
            border-left: 4px solid transparent;
            border-radius: 3px 0 0 3px;

            &.gdbbx-attachment-added {
                border-left-color: #46B450;
            }
        }

        .gdbbx-validation-active {
            .gdbbx-attachment-preview {
                float: right;
                margin: 0 0 0 10px;
            }

            .gdbbx-attachment-control {
                float: right;
            }
        }
    }
}