.community-area {
    .community-topic-widget-box a {
        text-decoration: none;
    }

    .single-forum-post-widget {
        a {
            text-decoration: none;
        }
    }

    ul {
        padding-left: 0px !important;

        li {
            list-style: none;
        }
    }

    .show-more-btn{
        text-decoration: none;
    }
}
