/*-- Codestar Framework --*/
.csf-field .csf-title {
    width: 25%;
}

.csf-field .csf-fieldset {
    float: right;
    width: calc(70% - 20px);
}

.bbpc-core-main *{
    box-sizing: border-box;
}

.bbp-core-main .bbp-core-intro{
    font-size: 16px;
}

.bbpc-stat-cards{
    display: flex;
    gap:30px;
}

.bbpc-stat-card{
    background-color: #fff;
}

.bbpc-dashboard{
    display: flex;
}

.bbpc-panel{
    width: 250px;
    border-right: 1px solid #ccc;
    margin-right: 20px;
}

.bbpc-logo {
    margin-bottom: 50px;
}

.bbpc-stats{
    flex-basis: 3;
}

.bbpc-heading{
    margin-bottom: 60px;
}

.bbpc-card-heading h2 {
    margin: 0;
    background: #ddd;
    padding: 10px;
    line-height: 1;
}

.bbp-core-settings{
    max-width: 960px;
}

/* Menu */
.bbpc-group-menu li a {
    border: 1px solid #6831C1;
    background: #6831C1;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    width: calc(100% - 20px);
    padding: 10px 20px;
    font-weight: 500;
    letter-spacing: 0px;
}

.bbpc-card-data {
    padding: 15px 25px;
}

.forum-info {
    display: flex;
    flex-wrap: wrap;
}

.forum-info li {
    flex: 50%;
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 18px;
}

.forum-info li:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#bbpc-forum{
    transition: .3s all ease;
}

#bbpc-forum:hover{
    color: var(--clr-white);
}

.easydocs-navitem .title img {
    max-height: 25px;
    max-width: 25px;
}