.form-group {
    .input-wrapper {
        input#searchInput {
            border-radius: 50px;
            padding: 15px 25px 15px 60px;
        }
    }
}

.bbpc-search-keyword {
    .bbpc-keywords-wrapper {
        ul {
            padding-left: 0px !important;
        }
    }
}

.input-wrapper {
    .submit-btn-left {
        left: 30px;
        right: unset !important;
    }
}
