.gdbbx-attachments ol li.gdbbx-attachment-thumb.gdbbx-thumb-inline {
  float: right;
  margin-left: 10px !important;
}

.gdbbx-attachments-edit .gdbbx-attachment select {
  float: left;
}

.bbp-form .gdbbx-attachments-form .gdbbx-attachments-input {
  border-left: 4px solid transparent;
  border-radius: 3px 0 0 3px;
}
.bbp-form .gdbbx-attachments-form .gdbbx-attachments-input.gdbbx-attachment-added {
  border-left-color: #46B450;
}
.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview {
  float: right;
  margin: 0 0 0 10px;
}
.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-control {
  float: right;
}
