/* Feature: Quote */
#bbpress-forums .bbpc-bbcode-quote {
  padding: 0 0 0.5em 1em;
}
#bbpress-forums .bbpc-bbcode-quote p:last-child {
  margin-bottom: 0 !important;
}
#bbpress-forums .bbpc-bbcode-quote .bbpc-quote-title {
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid #DDD;
}
#bbpress-forums .bbpc-bbcode-quote.bbpc-quote-is-private p {
  font-weight: bold;
  color: #800;
}

/* Feature: Thumbnail */
#bbpress-forums .bbpc-topic-thumbnail {
  float: left;
  margin-right: 10px;
}
#bbpress-forums .bbpc-topic-thumbnail a {
  display: block;
}
#bbpress-forums .bbpc-topic-thumbnail img {
  height: 48px;
  width: auto;
}

/* Feature: Badges */
#bbpress-forums .bbpc-badge-new-reply,
#bbpress-forums .bbpc-badge-unread-forum,
#bbpress-forums .bbpc-badge-unread-topic,
#bbpress-forums .bbpc-badge-new-reply-topic,
#bbpress-forums .bbpc-badge-new-posts,
#bbpress-forums .bbpc-badge-new-topic {
  margin: 0 0 0 4px;
  float: right;
}

/* Feature: Meta Footer */
#bbpress-forums .bbpc-footer-meta {
  background-color: #F4F4F4;
  padding: 8px;
  margin: 12px 0 0;
  overflow: auto;
}
#bbpress-forums .bbpc-footer-meta .bbpc-admin-links {
  float: right;
}
#bbpress-forums .bbpc-footer-meta .bbpc-admin-links a,
#bbpress-forums .bbpc-footer-meta .bbpc-admin-links span {
  color: #BBB;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
