@font-face {
  font-family: gdbbx;
  src: url("fonts/gdbbx.eot?660.1060");
  src: url("fonts/gdbbx.eot?660.1060#iefix") format("embedded-opentype"), url("fonts/gdbbx.woff2?660.1060") format("woff2"), url("fonts/gdbbx.woff?660.1060#gdbbx") format("woff"), url("fonts/gdbbx.ttf?660.1060") format("truetype"), url("fonts/gdbbx.svg?660.1060#gdbbx") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
i.gdbbx-icon {
  font: normal normal normal 14px gdbbx;
  font-size: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: text-bottom;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gdbbx-icon.gdbbx-icon-align-center:before {
  content: "\f101";
}

.gdbbx-icon.gdbbx-icon-align-justify:before {
  content: "\f102";
}

.gdbbx-icon.gdbbx-icon-align-left:before {
  content: "\f103";
}

.gdbbx-icon.gdbbx-icon-align-right:before {
  content: "\f104";
}

.gdbbx-icon.gdbbx-icon-anchor:before {
  content: "\f105";
}

.gdbbx-icon.gdbbx-icon-area:before {
  content: "\f106";
}

.gdbbx-icon.gdbbx-icon-backward:before {
  content: "\f107";
}

.gdbbx-icon.gdbbx-icon-ban:before {
  content: "\f108";
}

.gdbbx-icon.gdbbx-icon-bold:before {
  content: "\f109";
}

.gdbbx-icon.gdbbx-icon-book:before {
  content: "\f10a";
}

.gdbbx-icon.gdbbx-icon-bookmark:before {
  content: "\f10b";
}

.gdbbx-icon.gdbbx-icon-border-outer:before {
  content: "\f10c";
}

.gdbbx-icon.gdbbx-icon-calendar:before {
  content: "\f10d";
}

.gdbbx-icon.gdbbx-icon-camera:before {
  content: "\f10e";
}

.gdbbx-icon.gdbbx-icon-circle-info:before {
  content: "\f10f";
}

.gdbbx-icon.gdbbx-icon-circle-question:before {
  content: "\f110";
}

.gdbbx-icon.gdbbx-icon-circle-xmark:before {
  content: "\f111";
}

.gdbbx-icon.gdbbx-icon-clock:before {
  content: "\f112";
}

.gdbbx-icon.gdbbx-icon-code:before {
  content: "\f113";
}

.gdbbx-icon.gdbbx-icon-droplet:before {
  content: "\f114";
}

.gdbbx-icon.gdbbx-icon-envelope:before {
  content: "\f115";
}

.gdbbx-icon.gdbbx-icon-eye-slash:before {
  content: "\f116";
}

.gdbbx-icon.gdbbx-icon-eye:before {
  content: "\f117";
}

.gdbbx-icon.gdbbx-icon-file-archive:before {
  content: "\f118";
}

.gdbbx-icon.gdbbx-icon-file-audio:before {
  content: "\f119";
}

.gdbbx-icon.gdbbx-icon-file-code:before {
  content: "\f11a";
}

.gdbbx-icon.gdbbx-icon-file-excel:before {
  content: "\f11b";
}

.gdbbx-icon.gdbbx-icon-file-image:before {
  content: "\f11c";
}

.gdbbx-icon.gdbbx-icon-file-lines:before {
  content: "\f11d";
}

.gdbbx-icon.gdbbx-icon-file-pdf:before {
  content: "\f11e";
}

.gdbbx-icon.gdbbx-icon-file-powerpoint:before {
  content: "\f11f";
}

.gdbbx-icon.gdbbx-icon-file-video:before {
  content: "\f120";
}

.gdbbx-icon.gdbbx-icon-file-word:before {
  content: "\f121";
}

.gdbbx-icon.gdbbx-icon-file:before {
  content: "\f122";
}

.gdbbx-icon.gdbbx-icon-folder:before {
  content: "\f123";
}

.gdbbx-icon.gdbbx-icon-formatted:before {
  content: "\f124";
}

.gdbbx-icon.gdbbx-icon-frame:before {
  content: "\f125";
}

.gdbbx-icon.gdbbx-icon-google:before {
  content: "\f126";
}

.gdbbx-icon.gdbbx-icon-heading:before {
  content: "\f127";
}

.gdbbx-icon.gdbbx-icon-highlighter:before {
  content: "\f128";
}

.gdbbx-icon.gdbbx-icon-image:before {
  content: "\f129";
}

.gdbbx-icon.gdbbx-icon-italic:before {
  content: "\f12a";
}

.gdbbx-icon.gdbbx-icon-life-ring:before {
  content: "\f12b";
}

.gdbbx-icon.gdbbx-icon-link:before {
  content: "\f12c";
}

.gdbbx-icon.gdbbx-icon-list-alt:before {
  content: "\f12d";
}

.gdbbx-icon.gdbbx-icon-list-ol:before {
  content: "\f12e";
}

.gdbbx-icon.gdbbx-icon-list-ul:before {
  content: "\f12f";
}

.gdbbx-icon.gdbbx-icon-list:before {
  content: "\f130";
}

.gdbbx-icon.gdbbx-icon-lock:before {
  content: "\f131";
}

.gdbbx-icon.gdbbx-icon-message-check:before {
  content: "\f132";
}

.gdbbx-icon.gdbbx-icon-message-dots:before {
  content: "\f133";
}

.gdbbx-icon.gdbbx-icon-message-text:before {
  content: "\f134";
}

.gdbbx-icon.gdbbx-icon-messages:before {
  content: "\f135";
}

.gdbbx-icon.gdbbx-icon-minus:before {
  content: "\f136";
}

.gdbbx-icon.gdbbx-icon-paperclip:before {
  content: "\f137";
}

.gdbbx-icon.gdbbx-icon-quote-left:before {
  content: "\f138";
}

.gdbbx-icon.gdbbx-icon-quote-right:before {
  content: "\f139";
}

.gdbbx-icon.gdbbx-icon-rectangle:before {
  content: "\f13a";
}

.gdbbx-icon.gdbbx-icon-square-info:before {
  content: "\f13b";
}

.gdbbx-icon.gdbbx-icon-square-plus:before {
  content: "\f13c";
}

.gdbbx-icon.gdbbx-icon-strikethrough:before {
  content: "\f13d";
}

.gdbbx-icon.gdbbx-icon-subscript:before {
  content: "\f13e";
}

.gdbbx-icon.gdbbx-icon-superscript:before {
  content: "\f13f";
}

.gdbbx-icon.gdbbx-icon-text-size:before {
  content: "\f140";
}

.gdbbx-icon.gdbbx-icon-thumbtack:before {
  content: "\f141";
}

.gdbbx-icon.gdbbx-icon-turn-down:before {
  content: "\f142";
}

.gdbbx-icon.gdbbx-icon-underline:before {
  content: "\f143";
}

.gdbbx-icon.gdbbx-icon-user-secret:before {
  content: "\f144";
}

.gdbbx-icon.gdbbx-icon-user:before {
  content: "\f145";
}

.gdbbx-icon.gdbbx-icon-users:before {
  content: "\f146";
}

.gdbbx-icon.gdbbx-icon-vimeo:before {
  content: "\f147";
}

.gdbbx-icon.gdbbx-icon-youtube:before {
  content: "\f148";
}

/* Full Width */
.gdbbx-fw {
  width: 1.28571429em;
  text-align: center;
}

/* Sizes */
.gdbbx-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.gdbbx-2x {
  font-size: 2em;
}

.gdbbx-3x {
  font-size: 3em;
}

.gdbbx-4x {
  font-size: 4em;
}

.gdbbx-5x {
  font-size: 5em;
}

.gdbbx-6x {
  font-size: 6em;
}

/* Spin */
.gdbbx-spin {
  -webkit-animation: gdbbx-spin 2s infinite linear;
  animation: gdbbx-spin 2s infinite linear;
}

@-webkit-keyframes gdbbx-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes gdbbx-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#bbpress-forums i.gdbbx-icon-mark {
  margin-right: 4px;
  cursor: pointer;
  vertical-align: middle;
}
#bbpress-forums .gdbbx-new-topic-replies i.gdbbx-icon-mark {
  margin-right: 0;
  margin-left: 4px;
}

/* Accessibility */
.gdbbx-accessibility-show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Few Fixes */
.gdbbx-editor-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px !important;
  margin-top: 0 !important;
  width: 100%;
  resize: vertical;
}

#bbpress-forums .form-allowed-tags code {
  width: 100%;
}
#bbpress-forums #bbp-search-results .bbp-topic-title h3 {
  display: inline;
}
#bbpress-forums .bbp-reply-content h4.bbp-reply-title {
  border-bottom: 1px solid #DDD;
  margin: 0 0 1em;
  padding: 0 0 0.5em;
  width: 80%;
}

/* Feature: User Stats */
.gdbbx-bbcode-profile_items .gdbbx-value,
#bbpress-forums.gdbbx-user-stats .gdbbx-value {
  font-weight: bold;
}
.gdbbx-bbcode-profile_items .gdbbx-label.gdbbx-status-offline,
#bbpress-forums.gdbbx-user-stats .gdbbx-label.gdbbx-status-offline {
  color: #C00;
}
.gdbbx-bbcode-profile_items .gdbbx-label.gdbbx-status-online,
#bbpress-forums.gdbbx-user-stats .gdbbx-label.gdbbx-status-online {
  color: #298500;
  font-weight: bold;
}

/* Feature: Quote */
#bbpress-forums .gdbbx-bbcode-quote {
  padding: 0 0 0.5em 1em;
}
#bbpress-forums .gdbbx-bbcode-quote p:last-child {
  margin-bottom: 0 !important;
}
#bbpress-forums .gdbbx-bbcode-quote .gdbbx-quote-title {
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid #DDD;
}
#bbpress-forums .gdbbx-bbcode-quote.gdbbx-quote-is-private p {
  font-weight: bold;
  color: #800;
}

/* Feature: Canned Replies */
#bbpress-forums .gdbbx-canned-replies {
  margin: 5px 0 15px;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-show {
  font-weight: bold;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-hide {
  font-weight: bold;
  display: none;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list,
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-reply-content {
  display: none;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-category {
  margin: 0;
  font-size: 18px;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list legend .gdbbx-canned-replies-hide {
  float: right;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list ul {
  margin: 8px 0;
  padding: 0 0 0 8px;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list ul:last-of-type {
  margin: 8px 0 0;
}
#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list ul .gdbbx-canned-reply {
  list-style: disc inside;
}

/* Feature: Front Forum */
#bbpress-forums .gdbbx-forum-index-block {
  margin: 15px 0 0;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-forums-inner-block {
  margin: 0 0 15px;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-forums-inner-block h4 {
  background-color: #EEE;
  color: #111;
  line-height: 1.5em;
  margin: 0 0 5px;
  padding: 5px 10px;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-forums-inner-block p {
  color: #333;
  margin: 0 0 10px;
  line-height: 16px;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-forums-inner-block label {
  display: inline;
  line-height: inherit;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-front-user a {
  color: inherit !important;
  text-decoration: none;
  border: 0;
  box-shadow: none;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_keymaster {
  color: #D00;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_moderator {
  color: #06C;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_participant {
  color: #333;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_spectator {
  color: #0D0;
}
#bbpress-forums .gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_blocked {
  color: #AAA;
}
#bbpress-forums .gdbbx-forum-index-block .bbp-author-avatar img {
  margin: 0 3px -2px 0;
  float: none;
}

/* Feature: BBCodes */
#bbpress-forums .bbp-topic-content .gdbbx-bbcode-heading,
#bbpress-forums .bbp-reply-content .gdbbx-bbcode-heading {
  margin: 0.5em 0;
}
#bbpress-forums .bbp-topic-content .gdbbx-bbcode-heading:first-of-type,
#bbpress-forums .bbp-reply-content .gdbbx-bbcode-heading:first-of-type {
  margin-top: 0;
}
#bbpress-forums .syntaxhighlighter .gdbbx-bbcode-scode {
  padding: 1em 0;
  border: 1px solid #DDD;
}
#bbpress-forums .gdbbx-bbcode-spoiler {
  padding: 0 5px;
}
#bbpress-forums .gdbbx-bbcode-hr {
  clear: none;
  margin: 1em 0;
}
#bbpress-forums table.gdbbx-bbcode-nfo {
  border: 1px solid #222;
}
#bbpress-forums table.gdbbx-bbcode-nfo td.gdbbx-bbcode-el-title {
  background: #222;
  color: #FFF;
  border: none;
}
#bbpress-forums table.gdbbx-bbcode-nfo td.gdbbx-bbcode-el-content {
  padding: 0;
}
#bbpress-forums table.gdbbx-bbcode-nfo td.gdbbx-bbcode-el-content pre {
  color: #000;
  background: #FFF;
  font-size: 10px;
  line-height: 10px;
  font-family: monospace;
  border: none;
  margin: 0;
}
#bbpress-forums .gdbbx-bbcode-hide {
  margin: 6px 0 12px;
  border: 1px solid #CCC;
}
#bbpress-forums .gdbbx-bbcode-hide.gdbbx-hide-hidden .gdbbx-hide-title {
  color: #C00;
}
#bbpress-forums .gdbbx-bbcode-hide .gdbbx-hide-title {
  padding: 4px 8px;
  font-weight: bold;
  background-color: #CCC;
}
#bbpress-forums .gdbbx-bbcode-hide .gdbbx-hide-content {
  padding: 4px 8px;
  background-color: #FDFDFD;
}
#bbpress-forums .gdbbx-bbcode-attachment > br {
  display: none;
}

/* Feature: Signature */
#bbpress-forums .gdbbx-signature {
  border-top: 1px solid #DDD;
  margin-top: 15px;
  padding: 5px 0;
}
#bbpress-forums .gdbbx-signature p {
  margin: 0 0 5px;
}
#bbpress-forums .gdbbx-signature p:last-child {
  margin: 0;
}
#bbpress-forums #bbp-your-profile fieldset .gdbbx-editor-textarea fieldset.gdbbx-signature {
  display: inline;
  width: 60%;
}
#bbpress-forums #bbp-your-profile fieldset .gdbbx-editor-textarea fieldset.gdbbx-signature .description,
#bbpress-forums #bbp-your-profile fieldset .gdbbx-editor-textarea fieldset.gdbbx-signature textarea {
  width: 100%;
  margin: 10px 0 20px !important;
  box-sizing: border-box;
}

/* Feature: Private Topics / Replies */
#bbpress-forums div.topic.gdbbx-private-topic, #bbpress-forums div.reply.gdbbx-private-reply,
#bbpress-forums li.topic.gdbbx-private-topic,
#bbpress-forums li.reply.gdbbx-private-reply {
  background-color: #FFF8F8;
}
#bbpress-forums div.topic.gdbbx-private-topic-locked, #bbpress-forums div.reply.gdbbx-private-reply-locked,
#bbpress-forums li.topic.gdbbx-private-topic-locked,
#bbpress-forums li.reply.gdbbx-private-reply-locked {
  background-color: #FEE;
}
#bbpress-forums div.topic.gdbbx-private-topic-locked .bbp-topic-content, #bbpress-forums div.reply.gdbbx-private-reply-locked .bbp-reply-content,
#bbpress-forums li.topic.gdbbx-private-topic-locked .bbp-topic-content,
#bbpress-forums li.reply.gdbbx-private-reply-locked .bbp-reply-content {
  font-weight: bold;
}
#bbpress-forums .gdbbx-private-reply-hidden {
  display: none;
}

/* Feature: Thumbnail */
#bbpress-forums .gdbbx-topic-thumbnail {
  float: left;
  margin-right: 10px;
}
#bbpress-forums .gdbbx-topic-thumbnail a {
  display: block;
}
#bbpress-forums .gdbbx-topic-thumbnail img {
  height: 48px;
  width: auto;
}

/* Feature: Report */
#bbpress-forums .gdbbx-report-wrapper {
  box-sizing: border-box;
  position: relative;
  margin: 1em 0 0;
  padding: 1em;
  border: 1px solid #DDD;
}
#bbpress-forums .gdbbx-report-wrapper * {
  box-sizing: border-box;
}
#bbpress-forums .gdbbx-report-wrapper input {
  margin: 0;
  width: 100%;
}
#bbpress-forums .gdbbx-report-wrapper button {
  margin: 0;
}
#bbpress-forums .gdbbx-report-wrapper p {
  margin: 0;
}
#bbpress-forums .gdbbx-report-wrapper p .description {
  margin: 0.25em 0 0.5em;
  font-size: 90%;
  font-style: italic;
}

/* Feature: Thanks */
#bbpress-forums .gdbbx-thanks-wrapper {
  border-top: 1px solid #DDD;
  margin-top: 10px;
  padding: 10px 0;
  overflow: auto;
}
#bbpress-forums .gdbbx-thanks-wrapper:empty {
  display: none;
}
#bbpress-forums .gdbbx-thanks-wrapper h6 {
  margin: 0 0 10px !important;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4em;
}
#bbpress-forums .gdbbx-thanks-wrapper .gdbbx-thanks-list {
  line-height: 16px;
}
#bbpress-forums .gdbbx-thanks-wrapper .gdbbx-thanks-list a {
  line-height: 16px;
  vertical-align: top;
}
#bbpress-forums .gdbbx-thanks-wrapper .gdbbx-thanks-list .avatar {
  width: 16px;
  vertical-align: top;
  display: inline-block;
  float: none !important;
  margin: 0 2px 0 0 !important;
}

/* Feature: Badges */
#bbpress-forums .gdbbx-badge-new-reply {
  float: left;
}
#bbpress-forums .gdbbx-badge-new-reply,
#bbpress-forums .gdbbx-badge-unread-forum,
#bbpress-forums .gdbbx-badge-unread-topic,
#bbpress-forums .gdbbx-badge-new-reply-topic,
#bbpress-forums .gdbbx-badge-new-posts,
#bbpress-forums .gdbbx-badge-new-topic {
  background: #111;
  border-radius: 2px;
  padding: 0 4px 1px;
  margin: 0 4px 0 0;
  font-size: 90%;
  color: #FFF;
}
#bbpress-forums .gdbbx-badge-unread-forum,
#bbpress-forums .gdbbx-badge-unread-topic {
  background: #009;
}
#bbpress-forums .gdbbx-badge-new-reply-topic {
  background: #090;
}

/* Feature: Meta Footer */
#bbpress-forums .gdbbx-footer-meta {
  background-color: #F4F4F4;
  padding: 8px;
  margin: 12px 0 0;
  overflow: auto;
}
#bbpress-forums .gdbbx-footer-meta .gdbbx-admin-links {
  float: right;
}
#bbpress-forums .gdbbx-footer-meta .gdbbx-admin-links a,
#bbpress-forums .gdbbx-footer-meta .gdbbx-admin-links span {
  color: #BBB;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Feature: User Settings */
.gdbbx-user-settings span.description {
  display: block;
  font-weight: normal;
  font-style: italic;
}

/* Extra: Quantum Theme */
body.gd-quantum-theme #bbpress-forums .gdbbx-signature-form textarea {
  margin: 0;
}
body.gd-quantum-theme #bbpress-forums i.gdbbx-icon-mark {
  vertical-align: bottom;
}
body.gd-quantum-theme .gdbbx-bbcodes-toolbar {
  border-radius: 0;
  border-width: 2px;
}
body.gd-quantum-theme .gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button button.gdbbx-button i {
  vertical-align: middle;
}

#bbpress-forums .gdbbx-attachments .__bulk {
  clear: both;
  font-weight: bold;
  margin: 5px 0 0;
  padding: 5px 0 0;
  border-top: 1px dashed #DDD;
}
#bbpress-forums .gdbbx-attachments-errors ol.__errors-list {
  clear: both;
  margin: 0;
  list-style: decimal inside none;
}
#bbpress-forums .gdbbx-attachments-errors ol.__errors-list li {
  margin: 3px 0 3px;
  list-style: decimal inside none;
}
#bbpress-forums .gdbbx-attachments-errors ol.__errors-list li:last-child {
  margin-bottom: 0;
}
#bbpress-forums .gdbbx-attachments,
#bbpress-forums .gdbbx-attachments-errors {
  border-top: 1px solid #DDD;
  margin-top: 10px;
  padding: 10px 0;
  overflow: auto;
}
#bbpress-forums .gdbbx-attachments h6.__title,
#bbpress-forums .gdbbx-attachments-errors h6.__title {
  margin: 0 0 10px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4em;
}
#bbpress-forums .gdbbx-attachments-login-message {
  margin: 1em 0 0;
}

#bbpress-forums .gdbbx-attachments-files-container ol.__files-list {
  list-style: none;
  line-height: 1.8;
  margin: 0;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list li {
  list-style: none;
  margin: 0;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list li a {
  text-decoration: none;
  box-shadow: none;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list li a img {
  display: block;
  box-shadow: none;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list li a .gdbbx-icon {
  vertical-align: middle;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__without-thumbnails li.__link .__actions {
  margin-left: 10px;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -15px 0 0 -15px;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb {
  flex: 0 0 0;
  padding: 0;
  height: auto;
  margin: 15px 0 5px 15px;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__thumb-holder {
  background: #EEE;
  color: #111;
  text-transform: uppercase;
  font-size: 2.5em;
  display: block;
  text-align: center;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__actions:before, #bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__actions:after {
  content: " ";
  display: table;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__actions:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__actions {
  *zoom: 1;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__caption {
  padding: 0;
  margin: 0;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__caption p.__text {
  margin: 5px 0;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.3em;
  padding: 0;
  font-size: 12px;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails li.__thumb .__caption img {
  margin: 0;
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-2 li.__thumb {
  flex: 0 0 calc(50% - 15px);
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-3 li.__thumb {
  flex: 0 0 calc(33.33% - 15px);
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-4 li.__thumb {
  flex: 0 calc(25% - 15px);
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-5 li.__thumb {
  flex: 0 0 calc(20% - 15px);
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-6 li.__thumb {
  flex: 0 0 calc(16.66% - 15px);
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-7 li.__thumb {
  flex: 0 0 calc(14.28% - 15px);
}
#bbpress-forums .gdbbx-attachments-files-container ol.__files-list.__with-thumbnails.__columns-8 li.__thumb {
  flex: 0 0 calc(12.5% - 15px);
}

#bbpress-forums .bbp-form .gdbbx-attachments-form-current .gdbbx-attachments {
  border-top: none;
  margin-top: 0;
  padding: 0;
}
#bbpress-forums .bbp-form .gdbbx-attachments-edit ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
#bbpress-forums .bbp-form .gdbbx-attachments-edit ol li.gdbbx-attachment {
  margin: 0;
  padding: 0;
  overflow: auto;
  line-height: 32px;
}
#bbpress-forums .bbp-form .gdbbx-attachments-edit ol li.gdbbx-attachment .gdbbx-icon {
  vertical-align: middle;
}
#bbpress-forums .bbp-form .gdbbx-attachments-edit ol li.gdbbx-attachment select {
  margin: 4px 0 0 0;
  padding: 3px;
  float: right;
  height: auto;
  font-size: 11px;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form.gdbbx-auto-newfile .gdbbx-attachment-add-file {
  display: none;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input {
  padding: 0;
  margin: 0.5em 0;
  border: 0;
  border-right: 4px solid transparent;
  border-radius: 3px 0 0 3px;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input:after {
  content: " ";
  display: table;
  clear: both;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input input {
  margin: 0;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input.gdbbx-attachment-added {
  background-color: #F4FFF4;
  border-right-color: #46B450;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input.gdbbx-attachment-added a {
  color: #46B450;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input.gdbbx-attachment-invalid {
  background-color: #FFF4F4;
  border-right-color: #DC3232;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachments-input.gdbbx-attachment-invalid a {
  color: #DC3232;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-disabled div {
  display: none;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active input {
  display: none;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview {
  width: 160px;
  height: 38px;
  border-radius: 3px;
  float: left;
  margin: 0 10px 0 0;
  background-color: #EEE;
  cursor: pointer;
  position: relative;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview span {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  bottom: 6px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  padding: 0 10px;
  position: absolute;
  left: 6px;
  border: 1px solid #999;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview img.gdbbx-attached-file {
  border: 1px solid #EEE;
  border-radius: 3px;
  box-shadow: none;
  height: 118px;
  width: 158px;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview p.gdbbx-attached-file {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1.4em;
  margin: 0 0.4em 0 0.3em !important;
  text-align: right;
  color: #777;
  word-wrap: initial;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-control {
  line-height: 22px;
  float: left;
  margin: 5px 0;
  width: calc(100% - 170px);
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-control input {
  font-size: 12px;
  height: 22px;
  padding: 2px 4px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#bbpress-forums .bbp-form .gdbbx-attachments-form .gdbbx-attachment-added .gdbbx-attachment-preview {
  height: 120px;
}
#bbpress-forums .bbp-form .gdbbx-attachment-add-file {
  background-color: #FEFEFE;
  border: 1px solid #999;
  border-radius: 3px;
  bottom: 6px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  padding: 0 1em;
  margin: 0.5em 0 0;
  right: 6px;
}
#bbpress-forums .bbp-form .gdbbx-attachment-add-file:before {
  display: block;
  clear: both;
}

.gdbbx-attachments-thread {
  margin: 0 0 15px;
  clear: both;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager {
  margin-top: 15px;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__prev,
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__next,
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__current {
  font-weight: bold;
  padding: 1px 15px 2px;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__current {
  background: #666;
  color: #F4F4F4;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__prev,
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__next {
  background: #EEE;
  color: #333;
  cursor: pointer;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__prev {
  margin-right: 15px;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager .__next {
  margin-left: 15px;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager.gdbbx-thread-current-first .__prev {
  display: none;
}
.gdbbx-attachments-thread .gdbbx-attachments-thread-pager.gdbbx-thread-current-last .__next {
  display: none;
}

.gdbbx-accessibility-show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.gdbbx-bbcodes-toolbar {
  box-sizing: border-box;
  display: block;
  border-radius: 3px 3px 0 0;
  border: 1px solid #DDD;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.gdbbx-bbcodes-toolbar * {
  box-sizing: border-box;
}
.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-inner {
  overflow: hidden;
  padding: 3px;
}
.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button {
  border: 1px solid #F5F5F5;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}
.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button button.gdbbx-button {
  display: block;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 3px 4px 4px !important;
  color: #666 !important;
  background: none !important;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button button.gdbbx-button i {
  line-height: 1;
  vertical-align: text-top;
}
.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button:hover {
  border: 1px solid #DDD;
  background-color: #FFF;
}
.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button:hover button .gdbbx-button {
  color: #111;
}
.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-small .gdbbx-buttonbar-button {
  height: 30px;
  line-height: 28px;
  padding: 0;
  margin: 1px;
  width: 30px !important;
}
.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-small .gdbbx-buttonbar-button button.gdbbx-button {
  height: 28px;
  line-height: 28px;
}
.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-medium .gdbbx-buttonbar-button {
  height: 36px;
  line-height: 34px;
  padding: 0;
  margin: 3px;
  width: 36px !important;
  cursor: pointer;
}
.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-medium .gdbbx-buttonbar-button button.gdbbx-button {
  height: 34px;
  line-height: 34px;
}
.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-large .gdbbx-buttonbar-button {
  height: 42px;
  line-height: 40px;
  padding: 0;
  margin: 5px;
  width: 42px !important;
}
.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-large .gdbbx-buttonbar-button button.gdbbx-button {
  height: 42px;
  line-height: 42px;
}

.gdbbx-signature-form {
  margin: 0 !important;
}
.gdbbx-signature-form.gdbbx-editor-bbcodes.gdbbx-buddypress-xprofile textarea,
.gdbbx-signature-form.gdbbx-editor-bbcodes textarea {
  width: 100% !important;
  margin: 0;
  border-color: #DDD;
  background-color: #FFF;
  box-sizing: border-box;
}

#profile-page .gdbbx-signature-form.gdbbx-editor-bbcodes textarea.signature:focus {
  box-shadow: none;
}

.bp-profile-field .gdbbx-signature-form.wp-editor-wrap {
  margin-left: 200px !important;
}

#bbpress-forums .gdbbx-signature-form.gdbbx-editor-bbcodes textarea.signature {
  width: 100% !important;
  margin: 0 !important;
  border-color: #DDD !important;
  background-color: #FFF !important;
}
#bbpress-forums .gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button button.gdbbx-button i {
  line-height: 1;
}
#bbpress-forums .gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-small .gdbbx-buttonbar-button button.gdbbx-button i {
  font-size: 14px;
}
#bbpress-forums .gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-medium .gdbbx-buttonbar-button button.gdbbx-button i {
  font-size: 18px;
}
#bbpress-forums .gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-large .gdbbx-buttonbar-button button.gdbbx-button i {
  font-size: 22px;
}

#buddypress button.gdbbx-button {
  padding: 2px 3px;
}

.gdbbx-widget {
  clear: both;
  /* Info Widgets */
  /* Profile Widget */
  /* Thanks Widget */
  /* New Posts Widget */
  /* Online Status Widget */
}
.gdbbx-widget .gdbbx-widget-the-info-dl {
  width: 100%;
  line-height: 1.9;
  font-size: 13px;
  border: none;
  margin: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-dl dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-dl dl dt {
  flex: 0 0 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
}
.gdbbx-widget .gdbbx-widget-the-info-dl dl dt:after {
  content: ":";
}
.gdbbx-widget .gdbbx-widget-the-info-dl dl dd {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 35%;
  padding: 5px 0;
  margin: 0;
  text-align: right;
}
.gdbbx-widget .gdbbx-widget-the-info-list {
  width: 100%;
  line-height: 1.9;
  font-size: 13px;
  border: none;
  margin: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-list label {
  display: inline;
  font-size: inherit;
}
.gdbbx-widget .gdbbx-widget-the-info-list i.gdbbx-icon {
  float: left;
  vertical-align: middle;
  margin-right: 4px;
  line-height: inherit;
}
.gdbbx-widget .gdbbx-widget-the-info-table table {
  width: 100%;
  line-height: 1.5;
  font-size: 13px;
  border: none;
  margin: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody {
  border: 0;
  background: none;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody tr, .gdbbx-widget .gdbbx-widget-the-info-table table tbody tr:nth-child(2n) {
  background: none;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody th, .gdbbx-widget .gdbbx-widget-the-info-table table tbody td {
  vertical-align: top;
  border: none;
  padding: 5px;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody th {
  text-align: left;
  padding-left: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody td {
  text-align: right;
  padding-right: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-table table i.gdbbx-icon {
  float: left;
  vertical-align: middle;
  margin-right: 4px;
  line-height: inherit;
}
.gdbbx-widget .gdbbx-widget-the-profile-default a {
  text-decoration: none;
}
.gdbbx-widget .gdbbx-widget-the-profile-default h3.gdbbx-widget-profile-title {
  font-size: 1.4em;
  background-color: #FAFAFA;
  color: #333;
  margin-bottom: 1em;
  padding: 0.3em 0.1em;
  text-align: center;
}
.gdbbx-widget .gdbbx-widget-the-profile-default h3.gdbbx-widget-profile-title a {
  color: #333;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile {
  display: table;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile > div {
  display: table-cell;
  vertical-align: top;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__left {
  text-align: center;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__left a {
  font-size: 0.9em;
  display: block;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__right {
  padding-left: 1em;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__right h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 0.5em;
  padding: 0;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__right .__profile-stats {
  margin: 0 0 1em;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__right ul {
  margin-bottom: 0.5em;
  float: none;
  padding: 0;
  list-style: none;
}
.gdbbx-widget .gdbbx-widget-the-profile-default .gdbbx-widget-profile .__right ul:last-child {
  margin-bottom: 0;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced a {
  text-decoration: none;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced h3.gdbbx-widget-profile-title {
  font-size: 1.3em;
  line-height: 1.5;
  color: #333;
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
  text-align: center;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced h3.gdbbx-widget-profile-title a {
  color: #333;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced .gdbbx-widget-profile {
  text-align: center;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced .gdbbx-widget-profile .__profile-links {
  font-size: 0.8em;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced .gdbbx-widget-profile .__extended-links {
  line-height: 1.3;
  margin: 0.5em 0 0;
  font-size: 0.9em;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced .gdbbx-widget-profile .__profile-stats {
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  border-top: 1px solid #888;
  line-height: 1.5;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced .gdbbx-widget-profile .__profile-stats ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gdbbx-widget .gdbbx-widget-the-profile-enhanced .gdbbx-widget-profile .__profile-stats ul li {
  border: 0;
  padding: 0;
  margin: 0;
}
.gdbbx-widget .gdbbx-widget-userthanks-default {
  line-height: 24px;
}
.gdbbx-widget .gdbbx-widget-userthanks-default img {
  float: left;
  margin: 4px 4px 0 0;
}
.gdbbx-widget .gdbbx-widget-newpost-default {
  font-size: 14px;
}
.gdbbx-widget .gdbbx-widget-newpost-default .gdbbx-post-inner h4.gdbbx-title {
  margin: 0 0 0.5em;
  font-size: 1.2em;
}
.gdbbx-widget .gdbbx-widget-newpost-default .gdbbx-post-inner h4.gdbbx-title a {
  font-weight: bold;
}
.gdbbx-widget .gdbbx-widget-newpost-default .gdbbx-post-inner .gdbbx-post-meta img {
  vertical-align: text-bottom;
  margin-right: 2px;
}
.gdbbx-widget .gdbbx-online-status {
  font-size: 14px;
}
.gdbbx-widget .gdbbx-online-status .gdbbx-online-user {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}
.gdbbx-widget .gdbbx-online-status p:last-of-type {
  margin-bottom: 0;
}
.gdbbx-widget .gdbbx-online-status .gdbbx-online-user img {
  display: inline-block;
  vertical-align: -3px;
}
