.bbpc-accessibility-show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.bbpc-bbcodes-toolbar {
  box-sizing: border-box;
  display: block;
  border-radius: 3px 3px 0 0;
  border: 1px solid #DDD;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.bbpc-bbcodes-toolbar * {
  box-sizing: border-box;
}
.bbpc-bbcodes-toolbar .bbpc-buttonbar-inner {
  overflow: hidden;
  padding: 3px;
}
.bbpc-bbcodes-toolbar .bbpc-buttonbar-button {
  border: 1px solid #F5F5F5;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}
.bbpc-bbcodes-toolbar .bbpc-buttonbar-button button.bbpc-button {
  display: block;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 3px 4px 4px !important;
  color: #666 !important;
  background: none !important;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.bbpc-bbcodes-toolbar .bbpc-buttonbar-button button.bbpc-button i {
  line-height: 1;
  vertical-align: text-top;
}
.bbpc-bbcodes-toolbar .bbpc-buttonbar-button:hover {
  border: 1px solid #DDD;
  background-color: #FFF;
}
.bbpc-bbcodes-toolbar .bbpc-buttonbar-button:hover button .bbpc-button {
  color: #111;
}
.bbpc-bbcodes-toolbar.bbpc-buttonbar-size-small .bbpc-buttonbar-button {
  height: 30px;
  line-height: 28px;
  padding: 0;
  margin: 1px;
  width: 30px !important;
}
.bbpc-bbcodes-toolbar.bbpc-buttonbar-size-small .bbpc-buttonbar-button button.bbpc-button {
  height: 28px;
  line-height: 28px;
}
.bbpc-bbcodes-toolbar.bbpc-buttonbar-size-medium .bbpc-buttonbar-button {
  height: 36px;
  line-height: 34px;
  padding: 0;
  margin: 3px;
  width: 36px !important;
  cursor: pointer;
}
.bbpc-bbcodes-toolbar.bbpc-buttonbar-size-medium .bbpc-buttonbar-button button.bbpc-button {
  height: 34px;
  line-height: 34px;
}
.bbpc-bbcodes-toolbar.bbpc-buttonbar-size-large .bbpc-buttonbar-button {
  height: 42px;
  line-height: 40px;
  padding: 0;
  margin: 5px;
  width: 42px !important;
}
.bbpc-bbcodes-toolbar.bbpc-buttonbar-size-large .bbpc-buttonbar-button button.bbpc-button {
  height: 42px;
  line-height: 42px;
}

.bbpc-signature-form {
  margin: 0 !important;
}
.bbpc-signature-form.bbpc-editor-bbcodes.bbpc-buddypress-xprofile textarea,
.bbpc-signature-form.bbpc-editor-bbcodes textarea {
  width: 100% !important;
  margin: 0;
  border-color: #DDD;
  background-color: #FFF;
  box-sizing: border-box;
}

#profile-page .bbpc-signature-form.bbpc-editor-bbcodes textarea.signature:focus {
  box-shadow: none;
}

.bp-profile-field .bbpc-signature-form.wp-editor-wrap {
  margin-left: 200px !important;
}

#bbpress-forums .bbpc-signature-form.bbpc-editor-bbcodes textarea.signature {
  width: 100% !important;
  margin: 0 !important;
  border-color: #DDD !important;
  background-color: #FFF !important;
}
#bbpress-forums .bbpc-bbcodes-toolbar .bbpc-buttonbar-button button.bbpc-button i {
  line-height: 1;
}
#bbpress-forums .bbpc-bbcodes-toolbar.bbpc-buttonbar-size-small .bbpc-buttonbar-button button.bbpc-button i {
  font-size: 14px;
}
#bbpress-forums .bbpc-bbcodes-toolbar.bbpc-buttonbar-size-medium .bbpc-buttonbar-button button.bbpc-button i {
  font-size: 18px;
}
#bbpress-forums .bbpc-bbcodes-toolbar.bbpc-buttonbar-size-large .bbpc-buttonbar-button button.bbpc-button i {
  font-size: 22px;
}

#buddypress button.bbpc-button {
  padding: 2px 3px;
}
