.bbpc-widget {
  clear: both;
  /* Info Widgets */
  /* Profile Widget */
  /* Thanks Widget */
  /* New Posts Widget */
  /* Online Status Widget */
}
.bbpc-widget .bbpc-widget-the-info-dl {
  width: 100%;
  line-height: 1.9;
  font-size: 13px;
  border: none;
  margin: 0;
}
.bbpc-widget .bbpc-widget-the-info-dl dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
}
.bbpc-widget .bbpc-widget-the-info-dl dl dt {
  flex: 0 0 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
}
.bbpc-widget .bbpc-widget-the-info-dl dl dt:after {
  content: ":";
}
.bbpc-widget .bbpc-widget-the-info-dl dl dd {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 35%;
  padding: 5px 0;
  margin: 0;
  text-align: right;
}
.bbpc-widget .bbpc-widget-the-info-list {
  width: 100%;
  line-height: 1.9;
  font-size: 13px;
  border: none;
  margin: 0;
}
.bbpc-widget .bbpc-widget-the-info-list label {
  display: inline;
  font-size: inherit;
}
.bbpc-widget .bbpc-widget-the-info-list i.bbpc-icon {
  float: left;
  vertical-align: middle;
  margin-right: 4px;
  line-height: inherit;
}
.bbpc-widget .bbpc-widget-the-info-table table {
  width: 100%;
  line-height: 1.5;
  font-size: 13px;
  border: none;
  margin: 0;
}
.bbpc-widget .bbpc-widget-the-info-table table tbody {
  border: 0;
  background: none;
}
.bbpc-widget .bbpc-widget-the-info-table table tbody tr, .bbpc-widget .bbpc-widget-the-info-table table tbody tr:nth-child(2n) {
  background: none;
}
.bbpc-widget .bbpc-widget-the-info-table table tbody th, .bbpc-widget .bbpc-widget-the-info-table table tbody td {
  vertical-align: top;
  border: none;
  padding: 5px;
}
.bbpc-widget .bbpc-widget-the-info-table table tbody th {
  text-align: left;
  padding-left: 0;
}
.bbpc-widget .bbpc-widget-the-info-table table tbody td {
  text-align: right;
  padding-right: 0;
}
.bbpc-widget .bbpc-widget-the-info-table table i.bbpc-icon {
  float: left;
  vertical-align: middle;
  margin-right: 4px;
  line-height: inherit;
}
.bbpc-widget .bbpc-widget-the-profile-default a {
  text-decoration: none;
}
.bbpc-widget .bbpc-widget-the-profile-default h3.bbpc-widget-profile-title {
  font-size: 1.4em;
  background-color: #FAFAFA;
  color: #333;
  margin-bottom: 1em;
  padding: 0.3em 0.1em;
  text-align: center;
}
.bbpc-widget .bbpc-widget-the-profile-default h3.bbpc-widget-profile-title a {
  color: #333;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile {
  display: table;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile > div {
  display: table-cell;
  vertical-align: top;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__left {
  text-align: center;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__left a {
  font-size: 0.9em;
  display: block;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__right {
  padding-left: 1em;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__right h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 0.5em;
  padding: 0;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__right .__profile-stats {
  margin: 0 0 1em;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__right ul {
  margin-bottom: 0.5em;
  float: none;
  padding: 0;
  list-style: none;
}
.bbpc-widget .bbpc-widget-the-profile-default .bbpc-widget-profile .__right ul:last-child {
  margin-bottom: 0;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced a {
  text-decoration: none;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced h3.bbpc-widget-profile-title {
  font-size: 1.3em;
  line-height: 1.5;
  color: #333;
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
  text-align: center;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced h3.bbpc-widget-profile-title a {
  color: #333;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced .bbpc-widget-profile {
  text-align: center;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced .bbpc-widget-profile .__profile-links {
  font-size: 0.8em;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced .bbpc-widget-profile .__extended-links {
  line-height: 1.3;
  margin: 0.5em 0 0;
  font-size: 0.9em;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced .bbpc-widget-profile .__profile-stats {
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  border-top: 1px solid #888;
  line-height: 1.5;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced .bbpc-widget-profile .__profile-stats ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bbpc-widget .bbpc-widget-the-profile-enhanced .bbpc-widget-profile .__profile-stats ul li {
  border: 0;
  padding: 0;
  margin: 0;
}
.bbpc-widget .bbpc-widget-userthanks-default {
  line-height: 24px;
}
.bbpc-widget .bbpc-widget-userthanks-default img {
  float: left;
  margin: 4px 4px 0 0;
}
.bbpc-widget .bbpc-widget-newpost-default {
  font-size: 14px;
}
.bbpc-widget .bbpc-widget-newpost-default .bbpc-post-inner h4.bbpc-title {
  margin: 0 0 0.5em;
  font-size: 1.2em;
}
.bbpc-widget .bbpc-widget-newpost-default .bbpc-post-inner h4.bbpc-title a {
  font-weight: bold;
}
.bbpc-widget .bbpc-widget-newpost-default .bbpc-post-inner .bbpc-post-meta img {
  vertical-align: text-bottom;
  margin-right: 2px;
}
.bbpc-widget .bbpc-online-status {
  font-size: 14px;
}
.bbpc-widget .bbpc-online-status .bbpc-online-user {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}
.bbpc-widget .bbpc-online-status p:last-of-type {
  margin-bottom: 0;
}
.bbpc-widget .bbpc-online-status .bbpc-online-user img {
  display: inline-block;
  vertical-align: -3px;
}
