.gdbbx-widget {
  /* Info Widgets */
  /* Thanks Widget */
}
.gdbbx-widget .gdbbx-widget-the-info-dl dt {
  float: right;
  clear: right;
}
.gdbbx-widget .gdbbx-widget-the-info-list i.gdbbx-icon {
  float: right;
  margin-left: 4px;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody th {
  text-align: right;
  padding-right: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-table table tbody td {
  text-align: left;
  padding-left: 0;
}
.gdbbx-widget .gdbbx-widget-the-info-table table i.gdbbx-icon {
  float: right;
  margin-left: 4px;
}
.gdbbx-widget .gdbbx-widget-userthanks-default img {
  float: right;
  margin: 4px 0 0 4px;
}
