@import 'includes/_functions';
@import 'includes/_variables';
@import 'font/_font';
@import 'font/_icons';

@font-face {
    font-family: $font-name;
    src: url('fonts/gdbbx.eot?#{$font-version}');
    src: url('fonts/gdbbx.eot?#{$font-version}#iefix') format('embedded-opentype'),
    url('fonts/gdbbx.woff2?#{$font-version}') format('woff2'),
    url('fonts/gdbbx.woff?#{$font-version}#gdbbx') format('woff'),
    url('fonts/gdbbx.ttf?#{$font-version}') format('truetype'),
    url('fonts/gdbbx.svg?#{$font-version}#gdbbx') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@include generate-font-icons;
