#{$forums} {
    .#{$attachments} {
        .__bulk {
            clear: both;
            font-weight: bold;
            margin: 5px 0 0;
            padding: 5px 0 0;
            border-top: 1px dashed #DDD;
        }
    }

    .#{$attachments}-errors {
        ol.__errors-list {
            clear: both;
            margin: 0;
            list-style: decimal inside none;

            li {
                margin: 3px 0 3px;
                list-style: decimal inside none;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .#{$attachments},
    .#{$attachments}-errors {
        border-top: 1px solid #DDD;
        margin-top: 10px;
        padding: 10px 0;
        overflow: auto;

        h6.__title {
            margin: 0 0 10px;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 1.4em;
        }
    }

    .#{$attachments}-login-message {
        margin: 1em 0 0;
    }
}
