.#{$attachments}-thread {
    margin: 0 0 15px;
    clear: both;

    .#{$attachments}-thread-pager {
        margin-top: 15px;

        .__prev,
        .__next,
        .__current {
            font-weight: bold;
            padding: 1px 15px 2px;
        }

        .__current {
            background: #666;
            color: #F4F4F4;
        }

        .__prev,
        .__next {
            background: #EEE;
            color: #333;
            cursor: pointer;
        }

        .__prev {
            margin-right: 15px;
        }

        .__next {
            margin-left: 15px;
        }

        &.bbpc-thread-current-first {
            .__prev {
                display: none;
            }
        }

        &.bbpc-thread-current-last {
            .__next {
                display: none;
            }
        }
    }
}
