.com-box {
    .com-box-content {
        h3 {
            a {
                text-decoration: none;
            }
        }
    }
}
.more-communities  {
    .collapse-btn-wrap {
        text-decoration: none !important;
    }
}
