.com-box {
    .com-box-content {
        h3 {
            a {
                text-decoration: none;
            }
        }
    }
}

.blog_single_item {
    .more-communities {
        a {
            text-decoration: none;
        }
    }
}
