.d4p-content-right {
  overflow: auto;
}
.d4p-content-right .d4p-options-panel {
  overflow: unset;
}
.d4p-content-right .d4p-options-panel h5 {
  cursor: help;
}

.d4p-group-bbcodeslist .d4p-group-inner:first-of-type {
  text-align: left;
  font-family: monospace;
  font-size: 15px;
  line-height: 25px;
}
.d4p-group-bbcodeslist .d4p-group-inner:last-of-type {
  border-top: 1px solid #DDD;
}
.d4p-group-bbcodeslist .d4p-group-inner .description {
  text-align: left;
}

.d4p-page-reported-posts .bulkactions {
  display: none;
}

.d4p-navigator .d4p-nav-button ul,
.d4p-navigator li.d4p-nav-button > a {
  width: 210px;
}

.d4p-page-bbcodes .tablenav {
  display: none;
}

.gdbbx-grid-bbcodes {
  margin-top: 20px;
}
.gdbbx-grid-bbcodes th.column-title {
  width: 19%;
  min-width: 160px;
}
.gdbbx-grid-bbcodes th.column-bbcode {
  width: 8%;
  min-width: 120px;
}
.gdbbx-grid-bbcodes th.column-status, .gdbbx-grid-bbcodes th.column-toolbar {
  width: 8%;
  min-width: 120px;
}
.gdbbx-grid-bbcodes th.manage-column {
  white-space: nowrap;
}
.gdbbx-grid-bbcodes th.manage-column input[type=checkbox] {
  margin: 0 8px 0 0;
  vertical-align: text-bottom;
}

.gdbbx-grid-users th.column-ID {
  width: 70px;
}
.gdbbx-grid-users th.column-avatar {
  width: 60px;
}
.gdbbx-grid-users th.column-role {
  width: 120px;
}
.gdbbx-grid-users th.column-topics, .gdbbx-grid-users th.column-replies, .gdbbx-grid-users th.column-role, .gdbbx-grid-users th.column-date {
  width: 100px;
}
.gdbbx-grid-users td.column-avatar img {
  display: block;
}

.gdbbx-grid-errors th.column-id {
  width: 70px;
}
.gdbbx-grid-errors th.column-date {
  width: 100px;
}

.gdbbx-grid-attachments th.column-id {
  width: 70px;
}
.gdbbx-grid-attachments th.column-date, .gdbbx-grid-attachments th.column-thumbnail {
  width: 100px;
}

.gdbbx-grid-report th.column-id {
  width: 70px;
}
.gdbbx-grid-report th.column-type {
  width: 80px;
}
.gdbbx-grid-report th.column-date {
  width: 100px;
}
.gdbbx-grid-report th.column-post {
  width: 25%;
}
.gdbbx-grid-report th.column-reporter, .gdbbx-grid-report th.column-forum {
  width: 15%;
}

.gdbbx-grid-thanks th.column-id {
  width: 70px;
}
.gdbbx-grid-thanks th.column-type {
  width: 80px;
}
.gdbbx-grid-thanks th.column-date {
  width: 100px;
}
.gdbbx-grid-thanks th.column-post {
  width: 25%;
}
.gdbbx-grid-thanks th.column-forum {
  width: 15%;
}
.gdbbx-grid-thanks td.column-from img, .gdbbx-grid-thanks td.column-to img {
  float: left;
  margin: 0 5px 0 0;
}
.gdbbx-grid-thanks td.column-from div, .gdbbx-grid-thanks td.column-to div {
  line-height: 18px;
}

.gdbbx-grid-report tbody tr.gdbbx-report-status-deleted {
  background-color: #FFEAEA;
}

.gdbbx-grid-report tbody tr.gdbbx-report-status-closed {
  background-color: #EAFFEA;
}

.gdbbx-notice-info {
  background: #FFF;
  border-left: 4px solid #00A0D2;
  padding: 12px;
  margin: 0 0 15px;
}

.gdbbx-notice-info blockquote {
  margin: 15px 0;
  padding-left: 5px;
  border-left: 2px solid #DDD;
  font-style: italic;
}

.d4p-front-title h5 {
  font-weight: 100;
}

.d4p-whatsnew-heading .button-primary {
  margin: 1em 0 0;
  font-size: 150%;
  padding: 0.5em 2em;
  height: auto;
}

.d4p-setting-info ul {
  list-style: disc outside;
  margin-left: 16px;
}

.d4p-whatsnew-section h3 {
  line-height: initial;
}

@media screen and (max-width: 800px) {
  .fixed .column-forum {
    display: none;
  }
}
.d4p-wizard-finish .d4p-layout-unit {
  text-align: center;
}
.d4p-wizard-finish .d4p-layout-unit .button-secondary {
  font-size: 20px;
  padding: 0 40px 4px;
}
